.navBar {
    background-color:  #4CAF50;
    padding: 1rem;
    margin-bottom: 100px;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    color: white;;
    margin: 0 1rem;
}

.navLink {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.navLink:hover {
    color: #f0a500;
}
