.crack-detection-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .image-preview img, .marked-image img {
    margin-top: 20px;
    border: 2px solid #ddd;
  }
  
  .class-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .class-button:hover {
    background-color: #45a049;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  